extends layout

block content
  .pusher
    +sidebar(user)
    .article
      .main.ui.intro.container
        h1.ui.header Клиенты
        +breadcrumb([{link: '/', label: 'Главная'}], title)
        br
        button.ui.icon.labeled.button(id='modal')
          i.plus.icon
          | Добавить
          .ui.info.event-modal.modal(data-object='modal')
            .header= 'Добавление клиента'
            .content
              form.ui.form(method='post', action='/customers/' + data.id_customer, id='form')
                .field
                  label Фамилия
                  input(type='text', name='surname', placeholder='Фамилия')
                .field
                  label Имя
                  input(type='text', name='name', placeholder='Имя')
                .field
                  label Телефон
                  input(type='text', name='phone_number', placeholder='Телефон')
            .actions
              .ui.deny.black.button Отменить
              .ui.button(onclick="$.post('/customers', $('#form').serialize()); location.reload();") Сохранить

        br
        br
        table#example.ui.celled.table
          thead
            tr
              th Фамилия
              th Имя
              th Телефон
              th Товаров
              th Рем. листов
              th Действия
          tbody
            each val, index in data
              tr
                td= val.surname
                td= val.name
                td= val.phone_number
                td= val.count_products
                td= val.count_sheets
                td
                  a.ui.icon.button(href='customers/' + val.id_customer)
                    i.eye.icon
                  button.ui.icon.button(id='modal'+val.id_customer)
                    i.edit.icon
                      .ui.info.event-modal.modal(data-object='modal'+val.id_customer)
                        .header= 'Редактирование клиента ' + val.surname + ' ' + val.name
                        .content
                          form.ui.form(method='post', action='/customers/' + val.id_customer id='form'+val.id_customer)
                            .field
                              label Фамилия
                              input(type='text', value=val.surname name='surname', placeholder='Фамилия')
                            .field
                              label Имя
                              input(type='text', value=val.name name='name', placeholder='Имя')
                            .field
                              label Телефон
                              input(type='text', value=val.phone_number name='phone_number', placeholder='Телефон')
                        .actions
                          .ui.deny.black.button Отменить
                          .ui.button(onclick="$.post('/customers/"+ val.id_customer + "', $('#form"+val.id_customer+"').serialize()); location.reload();") Сохранить
                  button.ui.icon.button(onclick="$.ajax({ url: '/customers/"+ val.id_customer + "', type: 'DELETE'});location.reload();")
                    i.trash.icon
