extends layout

block content
  .pusher
    +sidebar(user)
    .article
      .main.ui.intro.container
        +header('Просмотр товара - ' + data.name_product)
        +breadcrumb([{link: '/', label: 'Главная'}, {link: '/products', label: 'Товары'}], title)
        .ui.items
          .item
            .image
              img(src='https://source.unsplash.com/random/175x175')
            .content
              a.header= data.name_product
              .meta
                span Товар
              .description
                p= 'Заводской номер: ' + data.factory_number
                p= 'Дата начала гарантии: ' + data.date_begin_garant
                p= 'Дата окончания гарантии: ' + data.date_end_garant
                p= 'Статус: ' + data.name_status
                p= 'Местоположение: полка ' + data.number_shelf + ', стэнд ' + data.number_stand
                p= 'Клиент: '
                  a(href='/customers/'+data.id_customer)= data.surname_customer + ' ' + data.name_customer
        h3 Ремонтные листы товара
        table#example.ui.celled.table
          thead
            tr
              th Дата открытия
              th Дата экспертизы
              th Дата начала ремонта
              th Дата окончания ремонта
              th Действие
          tbody
            each val, index in table
              tr
                td= val.date_create
                td= val.date_expertise
                td= val.date_begin_repair
                td= val.date_end_repair
                td
                  a.ui.icon.button(href='/sheets/' + val.id_repair_sheet)
                    i.eye.icon

