extends layout

block content
  .pusher
    +sidebar(user)
    .article
      .main.ui.intro.container
        +header(title)
        +breadcrumb([{link: '/', label: 'Главная'}], title)
        br
        button.ui.icon.labeled.button(id='modal')
          i.plus.icon
          | Добавить
          .ui.info.event-modal.modal(data-object='modal')
            .header= 'Добавление товара'
            .content
              form.ui.form(id='form')
                .field
                  label Название
                  input(type='text', name='name', placeholder='Название')
                .field
                  label Заводской номер
                  input(type='text', name='factory_namber', placeholder='Заводской номер')
                .field
                  label Начало гарантии
                  .ui.input.left.icon
                    i.calendar.icon
                    input(type='date', name='date_begin_garant', placeholder='Начало гарантии')
                .field
                  label Конец гарантии
                  .ui.input.left.icon
                    i.calendar.icon
                    input(type='date', name='date_end_garant', placeholder='Конец гарантии')
                .field
                  label Производитель
                  .ui.input
                    select.ui.fluid.dropdown(name='id_manufacturer')
                      option(value='') Выберете производителя
                      each val, index in select.manufacturer
                        option(value=val.id_manufacturer)= val.name
                .field
                  label Клиент
                  .ui.input
                    select.ui.fluid.dropdown(name='id_customer')
                      each val, index in select.customer
                        option(value='') Выберете клиента
                        option(value=val.id_customer)= val.surname + ' ' + val.name
            .actions
              .ui.deny.black.button Отменить
              .ui.button(onclick="$.post('/products', $('#form').serialize()); location.reload();") Добавить
        br
        br
        table#example.ui.celled.table
          thead
            tr
              th Название
              th Заводской номер
              th Статус
              th Клиент
              th Действия
          tbody
            each val, index in data
              tr
                td= val.name_product
                td= val.factory_number
                td
                  a(href='statuses/' + val.id_ststus)= val.name_status
                td
                  a(href='customers/' + val.id_customer)= val.surname_customer + ' ' + val.name_customer
                td
                  a.ui.icon.button(href='products/' + val.id_product)
                    i.eye.icon
                  button.ui.icon.button(id='modal' + val.id_product)
                    i.edit.icon
                    .ui.info.event-modal.modal(data-object='modal' + val.id_product)
                      .header= 'Редактирование товара'
                      .content
                        form.ui.form(id='form'+val.id_product)
                          .field
                            label Название
                            input(type='text', name='name', value=val.name_product placeholder='Название')
                          .field
                            label Заводской номер
                            input(type='text', name='factory_namber', value=val.factory_number placeholder='Заводской номер')
                          .field
                            label Начало гарантии
                            .ui.input.left.icon
                              i.calendar.icon
                              input(type='date', name='date_begin_garant' value=val.date_begin_garant , placeholder='Начало гарантии')
                          .field
                            label Конец гарантии
                            .ui.input.left.icon
                              i.calendar.icon
                              input(type='date', name='date_end_garant', value=val.date_end_garant placeholder='Конец гарантии')
                          .field
                            label Производитель
                            .ui.input
                              select.ui.fluid.dropdown(name='id_manufacturer' value=val.id_manufacturer)
                                option(value='') Выберете производителя
                                each val1, index in select.manufacturer
                                  if val.id_manufacturer == val1.id_manufacturer
                                    option(value=val1.id_manufacturer selected)= val1.name
                                  else
                                    option(value=val1.id_manufacturer)= val1.name
                          .field
                            label Статус
                            .ui.input
                              select.ui.fluid.dropdown(name='id_status' value=val.id_status)
                                option(value='') Выберете статус
                                each val1, index in select.status
                                  if val.id_status == val1.id_status
                                    option(value=val1.id_status selected)= val1.name
                                  else
                                    option(value=val1.id_status)= val1.name
                          .field
                            label Клиент
                            .ui.input
                              select.ui.fluid.dropdown(name='id_customer' value=val.id_customer)
                                option(value='') Выберете клиента
                                each val1, index in select.customer
                                  if val.id_customer == val1.id_customer
                                    option(value=val1.id_customer selected)= val1.surname + ' ' + val1.name
                                  else
                                    option(value=val1.id_customer )= val1.surname + ' ' + val1.name
                      .actions
                        .ui.deny.black.button Отменить
                        .ui.button(onclick="$.post('/products/" + val.id_product + "', $('#form" + val.id_product + "').serialize()); location.reload();") Сохранить
                  button.ui.icon.button(onclick="$.ajax({ url: '/products/" + val.id_product + "', type: 'DELETE'});location.reload();")
                    i.trash.icon
